* {
  box-sizing: border-box;

}

@font-face {
  font-family: impactl;
  src: url(../fonts/impact.ttf);
}

body {
  margin: 0;
  background-color: #383b42;

}

a {
  text-decoration: none;
}

button :focus {
  outline: none !important;
}

input {
  outline: none;
}

button,
img,
a {
  cursor: pointer;
}

input[type="text"] {
  font-size: 30px;
  font-family: Poppins;
}

.fa {
  display: inline-block;
  font-family: fontawesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LAYOUT */
.main-layout {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER */

.header-content {
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  border-radius: 36px;
  margin: 1rem 0.5rem 0.5rem 0;
  line-height: 70px;
  height: 70px;
}

.logo {
  margin-left: 123px;
  line-height: 82px;
}

.logo img {
  object-fit: cover;
  height: 20px;

}

.header-list li a {
  width: 74px;
  height: 22px;
  color: white;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 500;
}

@media(min-width:841px) {
  .header-list li:last-child {
    margin-right: 247px;
    margin-left: 63px;
  }
}

/* MAIN */

/* GALLERY */
.gallery {
  border: 1px solid rgb(155, 235, 155);
  margin: 0 auto;
  margin-left: 15px;
  margin-right: 15px;
}

.gallery-container {
  width: 80vw;
  margin: 0 auto;
  height: 70vh;
  overflow-y: scroll;

  margin-top: 10px;
}

.gallery-main {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-flow: row;
  padding: 10px;

}

input[name="filter"] {
  background: url('../icons/search-icon.png') no-repeat right center;
  color: #fefefe;
  padding: 10px;
  padding-left: 30px;
  background-size: 40px;
  width: 40%;
  background-repeat: no-repeat;
  border-radius: 29px;
}

.gallery-main img {
  width: 100%;
  max-width: 500px;
  border: 4px solid rgb(133, 115, 115);
  border-radius: 20px;
}

.search-line {
  margin-top: 20px;
}

.key-words {
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 38px;
  background-color: #fefefe;
  opacity: 0.4;
  line-height: 58px;
  padding: 10px;

}

.ul-words {
  display: flex;
  justify-content: space-around;
}

.ul-words li:not(:last-child) {
  margin-right: 20px;

}

.more-keys {
  width: 92px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  background-color: #fefefe;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  border-radius: 18px;
  font-family: Poppins;
  font-size: 18px;
  color: #fefefe;
}

.gallery-on {
  background-color: red;
}

/* Working Space */

.working-space {
  display: none
}

.canvas-container {
  margin: 30px;
}

canvas {
  background-color: rgb(180, 106, 106);
  border: 5px solid black;
  box-shadow: 1px 1px 7px 7px #999;
}

@media (min-width: 840px) {
  canvas {
    margin-right: 45px;
  }
}

.controller-content {
  flex-direction: column;

  background-color: rgb(116, 107, 107);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 1px 1px 7px 7px #999;
  max-width: 520px;
}

@media (max-width:880px) {
  .controller-content {
    margin: 0 auto;

  }
}

.controller-content .line-buttons {
  margin-bottom: 8px;
}

.controller-content input {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
  height: 10%;
  border-radius: 20px;
  background-color: #ebeef3;
  box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

button img {
  height: 30px;
}

.line-buttons {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.line-buttons button {
  box-shadow: 0 3px #999;
}

.change-apperance-buttons {
  background-color: #19a59f;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 8px;
}

.change-apperance-buttons button {
  margin: 10px;
  border-radius: 5px;
}

.hidden-input-color {
  position: absolute;
  height: 40px !important;
  width: 55px !important;
  margin: 10px !important;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}


.color-btn {
  position: relative;
  height: 40px !important;
  width: 55px !important;
  margin: 10px !important;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.choose-stickers {
  margin-bottom: 8px;
}

@media (max-width:880px) {
  .main-layout {
    max-width: 860px;
  }

  .working-space {
    flex-direction: column;
  }

  .controller-content {
    margin-left: 20px;
  }

  .search-line {
    flex-direction: column;
  }

  .logo {
    margin: 0 auto;
  }

  .ul-words {
    flex-wrap: wrap;
  }

  #filter,
  .key-words {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .more-keys {
    margin: 0 auto;
  }
}


/* HELPERS */
.grid {
  display: grid;
}

.flex {
  display: flex !important;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

/* ANIMATIONS */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* SCROLL-BAR */
.gallery-container::-webkit-scrollbar {
  width: 1em;
}

.gallery-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gallery-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  border-radius: 20px;
}


/* HAMBURGER MENU */
@media (max-width: 840px) {
  .main-menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    background: #292929;
    height: 100vh;
    transition: transform 1s;
    transform: translate(100%, 0);
    width: 30%;
  }

  .open .main-menu {
    transform: translate(0, 0);
  }

  .main-menu a.active {
    border-width: 1px;
  }

}

.toggle-menu-screen {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(42, 42, 42, 0.6);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity .5s;
}

@media (max-width: 740px) {
  .open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
  }

}

.toggle-menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.75rem;
  margin-right: 20px;
  line-height: 65px;
  display: none;
}

.toggle-menu-btn:active {
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

@media (max-width: 830px) {
  .toggle-menu-btn {
    display: block;
  }
}


/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  color: white;
}

.social-buttons {
  justify-content: space-between;
  width: 220px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.social-buttons button {
  width: 40px;
  height: 40px;
  cursor: pointer;

}

.social-buttons button img {
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.fc-btn:hover {
  background-color: blue;
}

.tw-btn:hover {
  background-color: rgb(155, 155, 240);
}

.be-btn:hover {
  background-color: rgb(197, 91, 197);
}

.bs-btn:hover {
  background-color: rgb(61, 228, 83);
}