* {
  box-sizing: border-box;

}

@font-face {
  font-family: impactl;
  src: url(../fonts/impact.ttf);
}

body {
  margin: 0;
  background-color: #22252c;

}

/* LAYOUT */
.main-layout {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER */

.header-content {
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  border-radius: 36px;
  margin: 1rem 0.5rem 0.5rem 0;
  line-height: 70px;
  height: 70px;
}

.logo {
  margin-left: 123px;
}

ul li:last-child {
  margin-right: 247px;
  margin-left: 63px;
}




/* Main */
canvas {
  background-color: rgb(180, 106, 106);
}

/* HELPERS */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex.column {
  flex-direction: column;
}

.gallery-main {
  width: 80vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.gallery-main img {
  width: 100%;
}